{%extends 'base.html'%}
{% block content %}
	<h2 style="text-align: center;">{{search|title}}</h2>
	
	
<div class="row">
	{% for instance in listings %}
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="{{instance.3}}">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p><a href="{{instance.1}}" target="_blank">{{instance.0}}</a></p>
        </div>
        <div class="card-action">
          <!-- <a href="{{instance.1}}" target="_blank"></a> -->
          Price: {{instance.2}}
        </div>
      </div>
    </div>

  {% endfor %}
</div>
{% endblock content %}